@charset "utf-8";

#main_header{}

/*header top*/
#header_top{width: 1260px; background: pink; 
	position: fixed;left: 50%;top: 40px; transform: translateX(-50%); z-index: 99999;}
#header_top h1{float: left; background: red; height: 50px;}
#header_top #main_menu{float: right;}
#header_top #main_menu li{float: left; height: 50px;}
#header_top #main_menu li a{display: block; line-height: 50px; padding: 0 30px;}
#header_top .toggleMenu{display: none;}

/*slider*/
.sliderWrap{height: 1005px;}
/*.sliderWrap li img{width: 100%;}*/
.sliderWrap li{
	height: 1005px; background: skyblue;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;}
.sliderWrap li.slider_1st{background-image: url(../images/mainimg01.jpg);}
.sliderWrap li.slider_2st{background-image: url(../images/mainimg02.jpg);}
.sliderWrap .slider_txt{width: 500px; position: absolute; top: 30%;left: 50%; margin-left: -250px; 
	text-align: center; color: white;}
.sliderWrap .slider_txt h3{font-size: 2em;}
.sliderWrap .slider_txt h3:after{content: "";display: block;width: 300px;height: 2px;
	background: #fff; margin: 10px auto;}

.sliderWrap .bx-wrapper {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0 none;
	margin-bottom: 0;
}
.sliderWrap .bx-wrapper .bx-pager{
	bottom: 100px;
}

/*content*/
.content{width: 1260px; margin: 0 auto;}
.content>ul>li{float: left;width: 25%; height: 315px;}
.content>ul>li.ct3st,.content>ul>li.ct6st,.content>ul>li.ct8st,.content>ul>li.ct11st{width: 50%;}
.content>ul>li.ct7st{height: 630px;}
.content>ul>li a{color: white;}

.content .ct1st{background: #92c1d5;}
.content .ct4st{background: #b8307c;}
.content .ct5st{background: #413d3e;}
.content .ct9st{background: #b8307c;}
.content .ct10st{background: #413d3e;}
.content .ct1st a,.content .ct4st a,.content .ct5st a,.content .ct9st a,.content .ct10st a
{text-align: center;display: block; height: 100%;padding-top:85px;}
.content .ct1st img.content .ct4st img,.content .ct5st img,.content .ct9st img,.content .ct10st img
{display: block; margin: 0 auto; margin-bottom: 5px;}
.content .ct1st p{color: white;}