@charset "utf-8";


.topNav{background: #333;}
.topNav a{display: block; color: white; float: left;padding: 14px 16px;}
.topNav a.toggle{float: right; display: none;}

@media screen and (max-width:575px){/*mobile버전*/
	.menuWrap{position: fixed; width: 100%;}
	.topNav a{display: none;}
	.topNav a:first-child{display: block;}
	.topNav a.toggle{display: block; 
		position: absolute; right: 0; top: 0;}}
	.topNav.responsive a{float: none; display: block;}


@media screen and (min-width:576px) and (max-width: 991px){/*tablet버전*/
	.menuWrap{width: 100%;}}

@media screen and (min-width:992px){/*pc버전 and는 무조건 한칸 띄워야함*/
	.menuWrap{
	width: 1200px;
	position: fixed; top: 10px;
	left: 50%; transform: translateX(-50%);}
	}
